<!DOCTYPE html>

      <p>
        Enter the onboarding access key provided in your RushOps welcome email.
      </p>

      <input
        type="text"
        id="accessKeyInput"
        placeholder="Access Key"
      />

      <button id="confirmAccessKeyButton">
        Confirm & Create Account
      </button>

    </div>

  </div>


  <script>

    const openModalButton = document.getElementById(
      "openModalButton"
    )

    const modalOverlay = document.getElementById(
      "modalOverlay"
    )

    const confirmAccessKeyButton = document.getElementById(
      "confirmAccessKeyButton"
    )

    const accessKeyInput = document.getElementById(
      "accessKeyInput"
    )

    const hiddenAccessKey = document.getElementById(
      "access_key"
    )

    const registerForm = document.getElementById(
      "registerForm"
    )


    openModalButton.addEventListener("click", () => {

      modalOverlay.style.display = "flex"

    })


    confirmAccessKeyButton.addEventListener("click", () => {

      hiddenAccessKey.value = accessKeyInput.value

      registerForm.submit()

    })

  </script>

</body>
</html>